*.js
!test/fileTransformation/*.js
!test/compile/index.js
.npmignore
package-lock.json
node_modules/
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/ts-transformer-extend-global-interface.iml
.idea/vcs.xml
*.DS_Store


